* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightseagreen;
}

@media (max-width: 1190px) {
    body {
        height: 1100px;
        flex-direction: column;
    }
}